includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - rich-taxonomy.php
        - functions.php
        - src/
    excludePaths:
        analyseAndScan:
            - node_modules (?)
