/*!
 * block style for Term Archive block.
 *
 * @package rich-taxonomy
 * @handle rich-taxonomy-term-archive-block-editor
 */


.rich-taxonomy-editor-wrapper {
	position: relative;
	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: transparent;
		z-index: 10;
	}
}

